[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.erhoof.onair
Exec=/usr/bin/ru.erhoof.onair
Name=On Air
Name[ru]=Эфир

[X-Application]
Permissions=Internet;Audio
OrganizationName=ru.erhoof
ApplicationName=onair

[X-Aurora-Application]
IconMode=Crop
